body {
    font-family: 'Titillium Web', sans-serif;
}
.box {
    margin: 10% auto;
}
.bar {
    width: 40%;
    background: #eee;
    height: 5px;
    margin: 20px auto;
}
.progress {
    background: #1ba39c;
    height: 5px;
    width: 0;
}
.text-center {
    text-align: center !important;
}
.btn-primary {
    color: #fff;
    background-color: #1ba39c;
    border-color: #18928c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 50px
}
.btn-primary:hover {
    color: #fff;
    background-color: #05201f;
    border-color: #02100f;
    cursor: pointer;
}
.speed {
    font-weight:bold;
    color:#1ba39c;
    font-size: 20px;
    margin-top:20px
}
.margin-xl {
    margin: 3em;
}